

@media(max-width:768px) {
    .carta-img {
       width: 50px;
       height: 50px;
    }      
} 

.centerContent {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 140px);
}

.footerDetail{
    height: calc(100vh - 140px);
    
}